schemas/universal-capture-2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  targetNamespace="http://tempuri.org/UniversalCaptureSpecification/v1"
  elementFormDefault="qualified"
  xmlns:ucsns="http://tempuri.org/UniversalCaptureSpecification/v1"
  xmlns="http://tempuri.org/XMLSchema.xsd"
  xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  version="1.0">

  <!-- Describes a collection of playable content on a single timeline. -->
  <xs:element name="Session">
    <xs:complexType>
      <xs:all>

        <!-- The name of the session. -->
        <xs:element type="xs:string" name="Title"/>

        <!-- A paragraph describing the session contents in detail. -->
        <xs:element type="xs:string" name="Description" minOccurs="0"/>

        <!-- The date the session was created. -->
        <xs:element type="xs:dateTime" name="Date" minOccurs="0"/>

        <!-- The creator of the session. -->
        <xs:element type="ucsns:Contact" name="Creator" minOccurs="0"/>

        <!-- Custom thumbnail for the session to override what the system would create for the session by default. -->
        <xs:element type="ucsns:File" name="Thumbnail" minOccurs="0"/>

        <!-- Thumbnail time at which to generate custom session thumbnail. Relative to the start of the session. -->
        <xs:element type="xs:duration" name="ThumbnailTime" minOccurs="0"/>
        
        <!-- Video streams in this session. -->
        <xs:element name="Videos" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Video" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>

                    <!-- The title of the video. -->
                    <xs:element type="xs:string" name="Title" minOccurs="0"/>

                    <!-- The time at which this video starts relative to session start. Determines its position on the timeline. -->
                    <xs:element type="xs:duration" name="Start"/>

                    <!-- The filename of the video. Must match exactly to a video filename in the same directory as this XML. -->
                    <xs:element type="ucsns:File" name="File"/>

                    <!-- For convenience, not used by the server, a full path to the file on disk. -->
                    <xs:element type="xs:string" name="LocalFilename" minOccurs="0"/>

                    <!-- Bit rate of the media file-->
                    <xs:element type="xs:integer" name="Bitrate" minOccurs="0"/>

                    <!-- File Extension of the media file -->
                    <xs:element type="xs:string" name="FileType" minOccurs="0"/>
                    
                    <!-- A collection of ranges of video to omit from the final playable session. -->
                    <xs:element name="Cuts" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Cut" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <!-- The start time of the range to cut relative to the video start. -->
                                <xs:element type="xs:duration" name="Start"/>

                                <!-- The duration of the range to cut. -->
                                <xs:element type="xs:duration" name="Duration"/>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <!-- A collection of timed entries in the session for navigation and search discovery. -->
                    <xs:element name="TableOfContents" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Entry" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>

                                <!-- A title for the table of contents entry to be displayed in a list. -->
                                <xs:element type="xs:string" name="Title"/>

                                <!-- A paragraph of additional text to include with this table of contents entry. -->
                                <xs:element type="xs:string" name="Description" minOccurs="0"/>

                                <!-- A url to associate with this entry. -->
                                <xs:element type="xs:anyURI" name="Url" minOccurs="0"/>

                                <!-- The time relative to the start of the video where this entry occurs. -->
                                <xs:element type="xs:duration" name="Time"/>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <!-- Describes where the video should be positioned for viewers. -->
                    <xs:element name="Type">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">

                          <!-- Positions the video to the left side of the viewer in a smaller window. -->
                          <xs:enumeration value="Primary"/>

                          <!-- Positions the video to the right side of the viewer in a larger window. -->
                          <xs:enumeration value="Secondary"/>

                          <!-- An audio only recording. -->
                          <xs:enumeration value="Audio"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <!-- Transcripts of this stream for closed captioning and search. Must refer to a video file uploaded with this XML. -->
                    <xs:element name="Transcripts" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Transcript" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>

                                <!-- The filename of the transcript. Must match exactly to a transcript filename uploaded in the same directory as this XML. -->
                                <xs:element type="ucsns:File" name="File"/>

                                <!-- For convenience, not used by the server, a full path to the file on disk. -->
                                <xs:element type="xs:string" name="LocalFilename" minOccurs="0"/>

                                <!-- The language the transcript is in. Allows for multiple transcripts in different languages. -->
                                <xs:element type="xs:string" name="LCID" minOccurs="0"/>

                                <!-- Describe which service the captions came from. -->
                                <xs:element type="xs:string" name="Source" minOccurs="0"/>

                                <!-- Controls whether the captions can be displayed in closed captioning or if it is only suitable for search. -->
                                <xs:element type="xs:boolean" name="Visible" default="true" minOccurs="0"/>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Slide shows presented in this session. -->
        <xs:element name="Presentations" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Presentation" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>

                    <!-- The time at which this presentation starts relative to session start. Determines its position on the timeline. -->
                    <xs:element type="xs:duration" name="Start"/>

                    <!-- The filename of the presentation. Must match exactly to a presentation filename uploaded in the same directory as this XML. -->
                    <xs:element type="ucsns:File" name="File"/>

                    <!-- For convenience, not used by the server, a full path to the file on disk. -->
                    <xs:element type="xs:string" name="LocalFilename" minOccurs="0"/>

                    <!-- A collection of transitions to slides on the session timeline. -->
                    <xs:element name="SlideChanges">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SlideChange" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <!-- A title for the slide change to be displayed in the table of contents list. -->
                                <xs:element type="xs:string" name="Title"/>

                                <!-- A paragraph of additional text to include with this slide. Usually the full slide text. -->
                                <xs:element type="xs:string" name="Description" minOccurs="0"/>

                                <!-- A url to associate with this entry. -->
                                <xs:element type="xs:anyURI" name="Url" minOccurs="0"/>

                                <!-- The time relative to the start of the presentation where this slide change occurs. -->
                                <xs:element type="xs:duration" name="Time"/>

                                <!-- The 1-based slide index in the presentation of the slide shown by this slide change. -->
                                <xs:element type="xs:integer" name="SlideNumber"/>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Static images shown in this session. -->
        <xs:element name="Images" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Image" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>

                    <!-- The filename of the image. Must match exactly to an image filename uploaded in the same directory as this XML. -->
                    <xs:element type="ucsns:File" name="File"/>

                    <!-- For convenience, not used by the server, a full path to the file on disk. -->
                    <xs:element type="xs:string" name="LocalFilename" minOccurs="0"/>

                    <!-- A title for the image in the table of contents list. -->
                    <xs:element type="xs:string" name="Title" minOccurs="0"/>

                    <!-- A paragraph of additional text to include with this image. -->
                    <xs:element type="xs:string" name="Description" minOccurs="0"/>

                    <!-- A url to associate with this entry. -->
                    <xs:element type="xs:anyURI" name="Url" minOccurs="0"/>

                    <!-- The time relative to the start of the session where this image should be shown. -->
                    <xs:element type="xs:duration" name="Time"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- A collection of ranges of the entire session to omit from the final playable output. -->
        <xs:element name="Cuts" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Cut" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <!-- The start time of the range to cut relative to the session start. -->
                    <xs:element type="xs:duration" name="Start"/>

                    <!-- The duration of the range to cut. -->
                    <xs:element type="xs:duration" name="Duration"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- A collection of strings associated with the session for categorization purposes. -->
        <xs:element name="Tags" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Tag" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- An element tree meant for vender-specific extensions that may later be added to the general specification -->
        <xs:element name="Extensions" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="ucsns:Extension" name="Extension" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Any additional file attachments to include with this session. -->
        <xs:element name="Attachments" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Attachment" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>

                    <!-- The filename of the attachment. Must match exactly to a attachment filename uploaded in the same directory as this XML. -->
                    <xs:element type="ucsns:File" name="File"/>

                    <!-- For convenience, not used by the server, a full path to the file on disk. -->
                    <xs:element type="xs:string" name="LocalFilename" minOccurs="0"/>

                    <!-- The MIME type of this file. -->
                    <xs:element type="xs:string" name="MimeType"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- A definition for the globally unique identifier type uses. -->
  <xs:simpleType name="Guid">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        The representation of a GUID, generally the id of an element.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- A definition for a CRC attribute -->
  <xs:simpleType name="CRC32">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-fA-F0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- A definition for a file that has a string path and a checksum (CRC) attribute -->
  <xs:complexType name="File">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            A CRC validation value to optionally detect and deal with random, non-malicious corruption
          </xs:documentation>
        </xs:annotation>
        <xs:attribute name="Checksum" type="ucsns:CRC32" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- A definition for contact information for a person -->
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
      <xs:element name="LastName" type="xs:string" minOccurs="0"/>
      <xs:element name="Email" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Base type for all extensions. Simply defines an unique identifier -->
  <xs:complexType name="Extension">
    <xs:sequence>
      <xs:element type="ucsns:Guid" name="ExtensionId"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>